<%- include ('./partials/header'); %>

    <h1>Welcome to the movie app!</h1>
             <div>
                <img src="<%=poster%>" alt="poster-img"> 
                <p>Title: <%=title%></p>
                <p>Year: <%=year%></p>
                <p>Rating: <%=rating%></p>
                <p>Category: <%=category%></p>
                <p>Plot: <%=plot%></p>
           </div>

    <%- include ('./partials/footer'); %>